@page {
	/*size: 200mm 500mm; /* <length>{1,2} | auto | portrait | landscape */ 
	      /* 'em' 'ex' and % are not allowed; length values are width height */
	/*margin: 10%; /* <any of the usual CSS values for margins> */
	             /*(% of page-box width for LR, of height for TB) */
	margin-header: 0; /* <any of the usual CSS values for margins> */
	margin-footer: 0;
	margin-top: 0;
	margin-left: 0;
}


body { 
	font-family:Arial, Helvetica, sans-serif;
    font-size: 10px; 
}
	

.etiqueta {
	width:329px;
	height:76px;
	float:left;
	padding-top:7px;
	padding-left:7px;
/*	margin-top:7px; */
	margin-left:6px;
	clear:inherit;
	border: 1px solid #000;

	}
	
.linhainvisivel {
	
	width:760px;
	height:3px;
	margin:0px;
	}

.fichaboleto { 
     /*   page-break-after: always;*/ 
	 	width:760px;
		margin-left:27px;
		padding:0;
    }